In [1]:
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [36]:
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import xlrd

In [37]:
# Load the excel data using pandas into a data frame with a reference to sheet name
xl_file = pd.read_excel(open('data/UniversalBank.xlsx','rb'), sheetname='Data')
# Display the first 5 rows
xl_file.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [56]:
#Normalize the data down into a data frame we can work that removes id and zip code
# Create a data frame with our reduced data
customers = pd.DataFrame(xl_file[["Age","Experience", "Income", "Family", "CCAvg", "Education", "Mortgage","Personal Loan", "Securities Account", "CD Account", "Online", "CreditCard"]])
customers.head(10)

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1
5,37,13,29,4,0.4,2,155,0,0,0,1,0
6,53,27,72,2,1.5,2,0,0,0,0,1,0
7,50,24,22,1,0.3,3,0,0,0,0,0,1
8,35,10,81,3,0.6,2,104,0,0,0,1,0
9,34,9,180,1,8.9,3,0,1,0,0,0,0

In [78]:
# Training and validation split of our data
tsize = np.floor(0.60 * len(customers))
data_train = customers.iloc[:int(tsize),:]
data_validation = customers.iloc[int(tsize):,:]

In [79]:
# Length of the training data (60%)
len(data_train)

3000

In [80]:
# Length of the validation data (40%)
len(data_validation)

2000

In [85]:
cols = ["Age", "Experience", "Income", "Family", "CCAvg", "Education", "Mortgage", "Securities Account", "CD Account", "Online", "CreditCard"]
cols2 = ["Personal Loan"]
trainArray = data_train.as_matrix(cols)
trainResult = data_train.as_matrix(cols2)

validationArray = data_validation.as_matrix(cols)
validationResult = data_validation.as_matrix(cols2)


knn = KNeighborsClassifier(n_neighbors=3, weights='distance')
knn.fit(trainArray, trainResult.ravel())

output = knn.predict(validationArray)


correct = 0.0

for i in range(len(output)): 
    if validationResult[i][0] == output[i]: 
        correct += 1

        
# The success rate of our validation set
correct / len(output)

0.9085

In [116]:
# Now lets take a couple of columns in out validation set and see when our customer data falls
age_mean = np.mean(customers["Age"].tolist())
income_mean = np.mean(customers["Income"].tolist())
mortgage_mean = np.mean(customers["Mortgage"].tolist())
ccavg_mean = np.mean(customers["CCAvg"].tolist())
experience_mean = np.mean(customers["Experience"].tolist())

data = {"Age": [age_mean], "Income": [income_mean], "Mortgage": [mortgage_mean], "CCAvg": [ccavg_mean], "Experience": [experience_mean]}
df = pd.DataFrame(data, columns=["Age","Experience", "Income", "CCAvg", "Mortgage"], index=["Mean Value"])
df

                Age  Experience   Income     CCAvg  Mortgage
Mean Value  45.3384     20.1046  73.7742  1.937913   56.4988

In [ ]:
# Based upon a small subset of the customer values averaged above with a 0.9085 prediction rating..
# The customer with the Age=40, Experience=10, Income=84, CCAvg=2, and Mortgage=0 is not likely to respond to a personal loan